{% extends "base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static "css/detail.css" %}" type="text/css" />
{% endblock %}
{% block title %}LuxeDécor | Product{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-7 mb-5 px-4">
                <img src="{{ product.image.url }}" width="100%" />
                <div class="row mt-5">
                    <div class="col-3">
                        <img src="{{ product.image1.url }}" width="100%" />
                    </div>
                    <div class="col-3">
                        <img src="{{ product.image2.url }}" width="100%" />
                    </div>
                    <div class="col-3">
                        <img src="{{ product.image3.url }}" width="100%" />
                    </div>
                    <div class="col-3">
                        <img src="{{ product.image4.url }}" width="100%" />
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-5 px-4">
                <p class="text">
                   <a class="text" href="/product/category/{{ product.category }}/">
                    {{ product.category }} 
                   </a> / 
                   <a class="text" href="/product/category/{{ product.category }}/{{ product.sub_category }}">
                    {{ product.sub_category }}
                   </a>
                </p>
                <p class="title">{{ product.title }}</p>
                <p class="text">
                    {{ product.shipping_time }}<br />
                    {{ product.shipping_price }}
                </p>
                <hr class="line">
                <p class="text">
                    {{ product.description }}
                </p>
                <p class="text">
                    {{ product.width }}”W, {{ product.depth }}”D, {{ product.height }}”H
                </p>
                <hr class="line">
                <p class="text" style="font-weight: bold;">SHOWN</p>
                <p  class="text">
                    {% if product.fabric != "" %}
                        Fabric or Leather: {{ product.fabric }}<br/>
                    {% endif %}
                    {% if product.finish != "" %}
                        Finish: {{ product.finish }}<br/>
                    {% endif %}
                    Size: {{ product.width }}" Wide
                </p>
                <div class="count">
                    <button class="add">-</button>
                    1
                    <button class="add">+</button>
                </div>
                <button class="button">
                    Aaa to your cart  －＄{{ product.price }}
                </button>
            </div>
        </div>

    </div>

{% endblock %}