{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static "css/mypage.css" %}" type="text/css" />
{% endblock %}
{% block title %}LuxeDécor | Member{% endblock %}
{% block content %}
<div class="mypage">
    <div class="container mypage-content">
        {% if request.user.is_authenticated %}
        <h2>Hi！{{first_name}}</h2>
        <div class="d-flex justify-content-between align-items-center mypage-title">
            <h3>My Info</h3>
            <a href="/edit/">
                <img src="{% static "images/icon_edit.png" %}" alt="edit">
            </a>
        </div>
        <ul>
            <li>Name：　{{name}}</li>
            <li>Email：　{{email}}</li>
        </ul>
        <a class="logout" href="/logout/">LOGOUT</a>
        {% else %}
        <h2>You are not logged in yet!</h2>
        <a class="logout" href="/login/">LOGIN</a>
        {% endif %}
    </div>
</div>
{% endblock %}